<form [formGroup]="filterForm" novalidate (ngSubmit)="applyFilter()">
    <div class="row">
        <div class="col-md-2 my-auto">
            <mat-form-field appearance="standard">
                <mat-label>Type</mat-label>
                <mat-select formControlName="orderType">
                    <mat-option [value]="">
                        All
                    </mat-option>
                    <mat-option *ngFor="let item of orderTypes" [value]="item.value">
                        {{ item.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 my-auto">
            <mat-form-field appearance="standard">
                <mat-label>Min Priority</mat-label>
                <mat-select formControlName="minPriority">
                    <mat-option [value]="">
                        All
                    </mat-option>
                    <mat-option *ngFor="let item of orderPriorities" [value]="item.value">
                        {{ item.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 my-auto">
            <mat-form-field color="primary" appearance="standard">
                <mat-label>Max Priority</mat-label>
                <mat-select formControlName="maxPriority">
                    <mat-option [value]="">
                        All
                    </mat-option>
                    <mat-option *ngFor="let item of orderPriorities" [value]="item.value">
                        {{ item.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 my-auto">
            <mat-form-field color="primary" appearance="standard">
                <mat-label>Complete Status</mat-label>
                <mat-select formControlName="isCompleted">
                    <mat-option [value]="">
                        All
                    </mat-option>
                    <mat-option
                        *ngFor="let item of [{ title: 'Completed', value: true }, {title: 'Not completed', value: false}]"
                        [value]="item.value">
                        {{ item.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 my-auto">
            <mat-form-field color="primary" appearance="standard">
                <mat-label>Cancel Status</mat-label>
                <mat-select formControlName="isCanceled">
                    <mat-option [value]="">
                        All
                    </mat-option>
                    <mat-option
                        *ngFor="let item of [{ title: 'Canceled', value: true }, {title: 'Not canceled', value: false}]"
                        [value]="item.value">
                        {{ item.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 my-auto">
            <mat-button-toggle-group>
                <button mat-raised-button color="primary" type="submit" class="px-5">
                    Search
                </button>
                <mat-button-toggle (click)="resetFilter()">
                    <mat-icon>cached</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</form>

<div class="table-responsive px-2 mt-3">
    <table class="table text-center">
        <thead class="table-light">
            <tr class="d-flex">
                <th class="col-md-1 pointer" scope="col" (click)="sortBy('name')"><u>Name</u></th>
                <th class="col-md-2 pointer" scope="col" (click)="sortBy('requirements')"><u>Requirements</u></th>
                <th class="col-md-1 pointer" scope="col" (click)="sortBy('progress')"><u>Progress</u></th>
                <th class="col-md-1 pointer" scope="col" (click)="sortBy('price')"><u>Price</u></th>
                <th class="col-md-1 pointer" scope="col" (click)="sortBy('type')"><u>Type</u></th>
                <th class="col-md-1 pointer" scope="col" (click)="sortBy('priority')"><u>Priority</u></th>
                <th class="col-md-1 pointer" scope="col" (click)="sortBy('isCompleted')"><u>Completed</u></th>
                <th class="col-md-1 pointer" scope="col" (click)="sortBy('isCanceled')"><u>Canceled</u></th>
                <th class="col-md-1 pointer" scope="col" (click)="sortBy('deadline')"><u>Deadline</u></th>
                <th class="col-md-2" scope="col">
                    <button mat-raised-button class="btn btn-sm" color="primary" (click)="add()">
                        <mat-icon>add</mat-icon>
                        Create
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex" *ngFor="let item of filteredOrders">
                <td class="col-md-1 text-break">
                    <b>{{ item.name }}</b>
                </td>
                <td class="col-md-2">
                    {{ item.requirements }}
                </td>
                <td class="col-md-1">
                    <b>{{ item.currentProgress }} / {{ item.datSetRequiredCount }}</b>
                </td>
                <td class="col-md-1">
                    {{ item.price }}
                </td>
                <td class="col-md-1">
                    {{ toTypeTitle(item.type) }}
                </td>
                <td class="col-md-1">
                    {{ toPriorityTitle(item.priority) }}
                </td>
                <td class="col-md-1">
                    <b>{{ toYesNo(item.isCompleted) }}</b>
                </td>
                <td class="col-md-1">
                    <b>{{ toYesNo(item.isCanceled) }}</b>
                </td>
                <td class="col-md-1">
                    {{ item.deadline | date: 'yyyy-MM-dd'}}
                </td>
                <td class="col-md-2">
                    <ng-container *ngIf="item.isCompleted && item.orderPaymentId">
                        <button mat-raised-button color="primary" class="mx-1" (click)="downloadDataSet(item.id)">
                            <mat-icon class="mx-auto">get_app</mat-icon>
                        </button>
                        <button mat-raised-button color="secondary" class="mx-1" (click)="reviewOrder(item.id)">
                            Review
                        </button>
                    </ng-container>

                    <ng-container *ngIf="item.isCompleted && item.orderPaymentId==null">
                        <button class="btn btn-success mx-1" (click)="payForOrder(item.id)" style="width: 33%;">
                            Pay
                        </button>
                        <button mat-raised-button class="mx-1" (click)="reviewOrder(item.id)">
                            Review
                        </button>
                    </ng-container>

                    <ng-container *ngIf="!item.isCompleted && !item.isCanceled">
                        <button mat-raised-button class="mx-2" (click)="refreshOrder(item.id)">
                            <mat-icon class="mx-auto">cached</mat-icon>
                        </button>
                        <button mat-raised-button color="warn" class="mx-2" (click)="cancelOrder(item)">
                            <mat-icon class="mx-auto">cancel</mat-icon>
                        </button>
                    </ng-container>

                    <ng-container *ngIf="item.isCanceled">
                        <button class="btn disabled mx-1">
                            Canceled
                        </button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>