.btn-back-collect {
    position: absolute;
    top: 10%;
    left: 18.4%;
}

.btn-back-label {
    position: absolute;
    top: 10%;
    left: 7.8%;
}

.btn-help-label {
    position: absolute;
    top: 10%;
    right: 7.8%;
}